@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --clr-bg: #57b0FB;
  --clr-surface: #FFF;

  --clr-btn-prime: #2f8edb;
  --clr-btn: #e9e9ed;
  --clr-btn-hvr: #d6d6d8;
  --clr-txt: #000;
}
.darkmode{
  --clr-bg: #0d284a;
  --clr-surface: #2e2e2e;

  --clr-btn-prime: #57b0fb;
  --clr-btn: #3e3e3e;
  --clr-btn-hvr: #3e3e3e;
  --clr-txt: #FFF;
}
#theme-switch {
  height: 40px; width: 40px;
  padding: 0;
  border: none; border-radius: 50%;
  background-color: var(--clr-btn);
  display: flex; justify-content: center; align-items: center;
  position: absolute; right: 10px; top: 10px;
  cursor: pointer;
}
#theme-switch svg {
  fill: var(--clr-txt);
}
#theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height: 100vh;
  background: var(--clr-bg);
}

.config-box, .play-board, .result-box{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
  transition: all 0.3s ease;
}

.main-header{
  text-align: center;
  font-size: 3rem; color: #fff; margin: 20px 0;
}

.config-box{
  background: var(--clr-surface);
  padding: 20px 25px 20px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  text-align: center;
}
.config-box h2{
  border-bottom: 0.5px solid gray;
  padding-bottom: 10px;
  color: var(--clr-txt);
}
.config-box .config-option{
  width: 100%;
  margin-top: 10px; padding-top: 10px;
  color: var(--clr-txt);
}
.config-option .option{
  margin-top: 10px;
  display: flex; justify-content: center; gap: 1rem;
}
.option button{
  border: none; border-radius: 5px;
  width: 100%;
  padding: 8px 0;
  background: none; border: 2px solid var(--clr-btn);
  font-size: 1.2rem; font-weight: 550; color: var(--clr-txt);
  transition: all 0.3s ease;
  cursor: pointer;
}
.config-box .start-btn{
  margin-top: 20px; padding: 8px 0; width: 50%;
  border: none; border-radius: 5px;
  background-color: var(--clr-btn-prime); color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.option button:hover{
  transform: scale(0.96);
  background: var(--clr-btn-hvr);
}
.config-box .start-btn:hover,
.replay-btn:hover{
  background-color: var(--clr-btn-prime);
  opacity: 0.8;
}
.option button.active{
  background: #57b0FB; color: #fff;
}

.play-board{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board .details{
  background: var(--clr-surface);
  padding: 7px;
  border-radius: 5px;
}
.play-board .details .players{
  position: relative;
  display: flex; justify-content: space-between; width: 100%;
}
.play-board .details span{
  width: 100%;
  border-radius: 5px;
  padding: 7px 0;
  font-size: 1.19rem; font-weight: 600; text-align: center; color: var(--clr-btn-prime);
  position: relative;
  z-index: 5;
  transition: all 0.3s ease;
}
.details span:first-child{
  color: #fff;
}
.details span.p-active{
  color: #fff;
}
.details .slider{
  background: var(--clr-btn-prime);
  position: absolute; top: 0; left: 0;
  height: 100%; width: 50%;
  border-radius: 5px;
  z-index: 2;
  transition: all 0.3s ease;
}
.players.S-active span:first-child{
  color: var(--clr-btn-prime);
}
.players.S-active span:nth-child(2){
  color: #FFF;
}
.players.S-active .slider{
  left: 50%;
}

.play-board .board{
  margin-top: 20px;
}
.play-board section{
  display: flex; justify-content: center;
}
.play-board section span{
  display: block;
  height: 90px; width: 90px;
  background: var(--clr-surface);
  margin: 3px;
  border-radius: 5px;
  font-size: 3rem; text-align: center; line-height: 90px; color: var(--clr-btn-prime);
}

.result-box{
  background: var(--clr-surface);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box .won-text{
  margin-top: 20px;
  font-size: 1.6rem; color: var(--clr-txt);
}
.result-box .replay-btn{
  margin-top: 20px; padding: 8px 0; width: 50%;
  border: none; border-radius: 5px;
  background-color: var(--clr-btn-prime); color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.result-box canvas{
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  pointer-events: none;
}

.config-box.hide,
.play-board.hide,
.result-box.hide{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.play-board.show,
.result-box.show{
  display: initial;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

@media (992px <= width) {
  body{
    display: block;
  }

  .main-header{
    text-align: initial;
    position: relative; left: 10%; top: 45%;
  }

  .config-box, .play-board, .result-box{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(30%, -50%);
    transition: all 0.3s ease;
  }

  .config-box.hide,
  .play-board.hide,
  .result-box.hide{
    opacity: 0;
    pointer-events: none;
    transform: translate(30%, -50%) scale(0.9);
  }

  .play-board.show,
  .result-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(30%, -50%) scale(1);
  }
}